<div class="background">

    <div class="background2">
        <!-- TOOLBAR -->
        <app-toolbar></app-toolbar>

        <!-- TITULO -->
        <h1 *ngIf="typeView === 'create'"> Cadastrar Materia </h1>
        <h1 *ngIf="typeView === 'edit'"> Editar Materia </h1>

        <!-- SELECIONAR MATERIA -->
        <mat-form-field *ngIf="typeView === 'edit'" class="selecao">
            <mat-label class="titulo">Matéria</mat-label>
            <mat-select [formControl]="materiaForm.controls['materiaId']">
                <mat-option *ngFor="let materia of materias" [value]="materia.id"
                    (click)="getUmaMateria(materia.id);"> {{ materia.nome }} </mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="isMateriaSelecionada">

            <!-- NOME -->
            <mat-form-field class="selecao">
                <mat-label>Nome</mat-label>
                <input type="text" [formControl]="materiaForm.controls['nome']"
                    matInput />
            </mat-form-field>

            <!-- CODIGO -->
            <mat-form-field class="selecao">
                <mat-label>Código</mat-label>
                <input type="text" [formControl]="materiaForm.controls['codigo']"
                    matInput />
            </mat-form-field>

            <!-- PERIODO -->
            <div id="periodo">
                <mat-form-field class="selecao">
                    <mat-label class="titulo">Ano</mat-label>
                    <mat-select [formControl]="periodoForm.controls['ano']">
                        <mat-option *ngFor="let ano of anos" [value]="ano"> {{ ano }} </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="selecao">
                    <mat-label class="titulo">Período</mat-label>
                    <mat-select [formControl]="periodoForm.controls['periodo']">
                        <mat-option *ngFor="let periodo of periodos" [value]="periodo"> {{ periodo }} </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            

            <!-- PROFESSOR -->
            <mat-form-field class="selecao">
                <mat-label class="titulo">Professor(a)</mat-label>
                <mat-select [formControl]="materiaForm.controls['professorId']">
                    <mat-option *ngFor="let professor of professores" [value]="professor.id"> {{ professor.user.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <!-- DESCRICAO -->
            <mat-form-field class="selecao">
                <mat-label>Descrição</mat-label>
                <input type="text" [formControl]="materiaForm.controls['descricao']" matInput />
            </mat-form-field>

            <!-- CODIGO ENTRADA -->
            <div *ngIf="typeView === 'edit'" class="selecao">
                <mat-label>Código Entrada</mat-label>
                <input type="text" id="codigo_entrada"
                 [formControl]="materiaForm.controls['codigo_entrada']" matInput />
            </div>


        </div>

        <!-- CADASTRAR/SALVAR -->
        <button *ngIf="typeView === 'edit'" class="primary-button" mat-flat-button type="button"
            (click)="editarMateria()">
            Salvar
        </button>

        <button *ngIf="typeView === 'create'" class="primary-button" mat-flat-button type="button"
            (click)="criarMateria()">
            Cadastrar
        </button>


    </div>
</div>