.perguntas{
    padding: 0px 10px 0px 10px;
    justify-content: center;
    margin: 10px 0px 10px 0px;

    display: block;
}

.titulo{
    font-weight: bold;
    padding: 10px 10px 10px 10px !important;
    font-size: 20px;
}

textarea{
    text-align: left;
    background-color: rgb(255, 255, 255) !important;
    border-width: 1px !important ;
    border-style: solid !important ;
    border-color: rgb(118, 118, 118) !important ;
}
mat-error{
    font-size: 15px;
}
hr {
    width: 40%;
}

#materia{
    border-width: 1px;
    border-style: solid;
    margin: 20px;
    padding: 10px;
}





