/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    font-size: 20px;
}

.background{
    background-color: #0044AB; 
    width: 100%;
    min-height: 100%;
}

.background2{
    background-color: #EDEDED; 
    width: 90%;
    min-height: 100%;
    margin: auto;
}

.icon{
    border: none;
}

.primary-button{
    width: 50%;
    height: 30px;
    margin: auto;
    display: block;
    background-color: #F5A607;
    color: white;
    border-radius: 4px;
}

h1{
    font-weight: bolder !important;
    text-align: center !important;
}
